/*Colocarle  un contenedo al 80%*/
/*Colocar textos en 2 columnas y titulo en el centro que hacemos y quienes somos*/
/*sizes*/
/*maps*/
/*Colors*/
/*sizes*/
/*maps*/
/*Colors*/
@font-face {
  font-family: 'HelveticaNeue';
  src: url(../fonts/HelveticaNeueLTStd-Lt.otf) format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeueBold';
  src: url(../fonts/HelveticaNeueLTStd-Bd.otf) format("opentype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeueBoldItalic';
  src: url(../fonts/HelveticaNeueLTPro-BdIt.otf);
  font-weight: bold;
  font-style: normal; }
body, html {
  margin: 0 auto;
  display: block;
  font-size: 15px;
  font-family: 'HelveticaNeue'; }

h1 {
  font-size: 2.66em; }
  h1.not_found {
    font-size: 180px; }
    @media (min-width: 426px) {
      h1.not_found {
        font-size: 280px; } }

h4 {
  font-size: 1.5em; }

img {
  max-width: 1440px; }

strong {
  font-family: HelveticaNeueBold; }

.contenedor {
  width: 80%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }

.sticky {
  top: 0;
  z-index: 9996;
  -webkit-position: sticky;
  -moz-position: sticky;
  -ms-position: sticky;
  -o-position: sticky;
  position: sticky; }
  .sticky.nav-fixed {
    height: 54px; }
  .sticky .nav-wrapper a i.nav-icons {
    height: 54px;
    font-size: 37px;
    line-height: 54px; }

.menu-call-to-action .bg-image {
  height: 130px;
  background-size: cover;
  background-image: url(http://via.placeholder.com/1440x130); }
  .menu-call-to-action .bg-image .absolute {
    right: 0;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.8); }

.news .card-title {
  font-size: 22px; }
.news a.read-more {
  font-size: 12px;
  font-weight: bold;
  font-family: HelveticaNeueBold; }
.news .side-title {
  font-size: 15px; }
.news .card-reveal .card-title {
  line-height: 1.2; }
  .news .card-reveal .card-title .close-card {
    font-size: 18px;
    color: #959595; }
.news .card-reveal p {
  font-size: 15px; }
.news .news-title {
  font-size: 20px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .news .news-title {
      font-size: 24px; } }
  @media (min-width: 1025px) {
    .news .news-title {
      font-size: 30px; } }
.news .news-content * {
  font-size: 12px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .news .news-content * {
      font-size: 14px; } }
  @media (min-width: 1025px) {
    .news .news-content * {
      font-size: 16px; } }
.news .card-content-social {
  justify-content: flex-end; }
  .news .card-content-social .news-social {
    display: inline-block; }
    .news .card-content-social .news-social > li:first-child {
      vertical-align: top; }
    .news .card-content-social .news-social li {
      display: inline-block;
      font-size: 13px; }
.news.collection {
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent; }
  @media (min-width: 768px) {
    .news.collection {
      border-left: 2px solid #acacac; } }
  .news.collection .collection-item {
    border-bottom: 0px solid transparent; }
    .news.collection .collection-item:before {
      content: "";
      width: 98%;
      display: block;
      border-top: 1px solid #acacac; }

#open {
  top: 0;
  right: 0;
  width: 20px;
  height: 100vh;
  z-index: 9996;
  position: fixed; }

.page-footer a, .page-footer p, .page-footer button {
  font-size: 14px; }

.contLoading {
  z-index: 9999;
  background-color: #fff;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh; }

.lang-overly {
  z-index: 9998;
  background-color: rgba(50, 50, 50, 0.8);
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh; }
  .lang-overly.is-hidden {
    width: 1px;
    height: 1px;
    display: none; }
  .lang-overly > .valign-bottom {
    position: relative; }
    @media (max-width: 768px) {
      .lang-overly > .valign-bottom {
        bottom: 0;
        position: absolute;
        left: 50%;
        width: 100%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); } }
    .lang-overly > .valign-bottom img {
      width: 50px; }

.fixed-action-btn {
  opacity: 0.5;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear; }
  .fixed-action-btn:hover {
    opacity: 1; }

.search-field input {
  color: #333;
  height: 40px;
  font-size: 18px;
  margin-right: -5px;
  padding-left: 45px;
  display: inline-block;
  width: calc(100% - 95px);
  border-radius: 8px 0 0 8px; }
.search-field .fa {
  top: 50%;
  left: 15px;
  color: #333;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
.search-field button {
  width: 85px;
  color: #fff;
  height: 40px;
  font-size: 14px;
  display: inline-block; }

.promotion-container {
  bottom: 0;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.8); }

.card-image {
  height: 150px;
  overflow: hidden; }
  .card-image.img-horizontal {
    height: auto;
    min-height: 200px; }
    @media (min-width: 601px) {
      .card-image.img-horizontal {
        min-height: 275px; } }
    @media (min-width: 1240px) {
      .card-image.img-horizontal {
        min-height: 305px; } }

.allies-logo {
  width: 70px; }

.invisible {
  opacity: 0; }

/* Main Feature */
.to-collapse {
  width: 100%;
  overflow: hidden;
  max-height: 800px;
  -webkit-transition: max-height 0.6s;
  -moz-transition: max-height 0.6s;
  -ms-transition: max-height 0.6s;
  -o-transition: max-height 0.6s;
  transition: max-height 0.6s; }
  .to-collapse.collapsed {
    max-height: 0;
    -webkit-transition: max-height 0.6s;
    -moz-transition: max-height 0.6s;
    -ms-transition: max-height 0.6s;
    -o-transition: max-height 0.6s;
    transition: max-height 0.6s; }

@media (min-width: 768px) {
  .valign-wrapper-on-med-and-up {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; } }

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 5s;
  animation-duration: 5s; }

.main-img {
  vertical-align: middle; }

.owl-carousel:not(.campaing-carousel).news-gallery {
  position: relative; }
  .owl-carousel:not(.campaing-carousel).news-gallery .owl-stage-outer {
    height: 190px; }
    @media (min-width: 640px) {
      .owl-carousel:not(.campaing-carousel).news-gallery .owl-stage-outer {
        height: 350px; } }
    @media (min-width: 769px) {
      .owl-carousel:not(.campaing-carousel).news-gallery .owl-stage-outer {
        height: 300px; } }
    @media (min-width: 1440px) {
      .owl-carousel:not(.campaing-carousel).news-gallery .owl-stage-outer {
        height: 350px; } }
  .owl-carousel:not(.campaing-carousel).news-gallery .owl-nav {
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: 0;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .owl-carousel:not(.campaing-carousel).news-gallery .owl-nav .owl-prev {
      margin-left: 0 !important; }
    .owl-carousel:not(.campaing-carousel).news-gallery .owl-nav .owl-next {
      margin-left: auto !important;
      margin-right: 0 !important; }
    .owl-carousel:not(.campaing-carousel).news-gallery .owl-nav .owl-prev, .owl-carousel:not(.campaing-carousel).news-gallery .owl-nav .owl-next {
      color: #fff;
      display: flex;
      font-size: 50px;
      font-weight: bold;
      vertical-align: middle;
      text-shadow: 1px 1px black; }
.owl-carousel:not(.campaing-carousel) .owl-item {
  height: 100px; }
  .owl-carousel:not(.campaing-carousel) .owl-item .owl-content {
    height: 100%;
    width: 100%; }
    .owl-carousel:not(.campaing-carousel) .owl-item .owl-content img {
      max-width: 100%;
      max-height: 100px;
      width: auto !important;
      vertical-align: middle; }
.owl-carousel:not(.campaing-carousel) .owl-nav {
  display: flex;
  margin-top: 20px; }
  .owl-carousel:not(.campaing-carousel) .owl-nav .owl-prev {
    margin-left: auto !important; }
  .owl-carousel:not(.campaing-carousel) .owl-nav .owl-next {
    margin-right: auto !important; }
  .owl-carousel:not(.campaing-carousel) .owl-nav .owl-prev .material-icons, .owl-carousel:not(.campaing-carousel) .owl-nav .owl-next .material-icons {
    font-size: 40px; }

.overly {
  z-index: 9997;
  display: none;
  cursor: pointer;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh; }
  .overly .side-menu {
    right: 0;
    width: 100%;
    z-index: 9998;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgba(50, 50, 50, 0.8); }
    @media (min-width: 768px) {
      .overly .side-menu {
        width: 50%; } }
    @media (min-width: 1024px) {
      .overly .side-menu {
        width: 25%; } }

.campaing-content > img, .campaing-content > p, .campaing-content > a {
  vertical-align: middle; }
.campaing-content > img.allies-logo {
  width: 80px !important;
  display: inline-block !important; }
.campaing-content > p {
  display: inline-block;
  text-align: justify; }

.miniLoader {
  display: none;
  width: 15px; }
  .miniLoader.active {
    display: inline-block; }

.justify-align {
  text-align: justify; }

.preloader-wrapper.extra-small {
  width: 18px;
  height: 18px; }

input.rounded, select.rounded, textarea.rounded {
  padding-left: 1em !important;
  border-radius: 16px !important;
  width: calc(100% - 1em) !important;
  border: 1px solid #9e9e9e !important; }

.input-field.col label.rounded {
  left: 1.75rem; }
  .input-field.col label.rounded.active {
    left: 1rem;
    -webkit-transform: translateY(-20px) scale(0.8);
    -moz-transform: translateY(-20px) scale(0.8);
    -ms-transform: translateY(-20px) scale(0.8);
    -o-transform: translateY(-20px) scale(0.8);
    transform: translateY(-20px) scale(0.8); }

.donate-content:before {
  left: 0;
  top: -1px;
  z-index: 1;
  width: 100%;
  content: "";
  height: 30px;
  position: absolute;
  background-color: #fff; }
.donate-content:after {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  top: calc(100% - 29px);
  background-color: #fff; }
.donate-content img {
  z-index: 10;
  position: relative; }

.voluntariado .voluntario {
  cursor: pointer; }
  .voluntariado .voluntario .alt {
    top: 0;
    left: 50%;
    opacity: 0;
    position: absolute;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-transition: 0.5s opacity linear;
    -moz-transition: 0.5s opacity linear;
    -ms-transition: 0.5s opacity linear;
    -o-transition: 0.5s opacity linear;
    transition: 0.5s opacity linear; }
    .voluntariado .voluntario .alt:hover {
      opacity: 1; }
.voluntariado .voluntario-text {
  top: 50%;
  left: 50%;
  display: none;
  position: absolute;
  background-color: #00A99D;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.no-shadow {
  box-shadow: 0px 0px transparent; }

.text-colum-2 {
  column-count: 2; }

.about-title {
  font-size: 30px; }

.btn-downloadrelat {
  padding: 0 1rem;
  font-size: 14px;
  line-height: 30px; }

.bg-red {
  background-color: #ED1E79 !important; }

.text-red {
  color: #ED1E79 !important; }

.bg-white {
  background-color: #ffffff !important; }

.text-white {
  color: #ffffff !important; }

.bg-turquesa {
  background-color: #00A99D !important; }

.text-turquesa {
  color: #00A99D !important; }

.bg-blue {
  background-color: #25aae2 !important; }

.text-blue {
  color: #25aae2 !important; }

.bg-green {
  background-color: #a6ce39 !important; }

.text-green {
  color: #a6ce39 !important; }

.bg-darkgray {
  background-color: #333333 !important; }

.text-darkgray {
  color: #333333 !important; }

.d-block {
  display: block !important; }

.d-inline {
  display: inline !important; }

.d-inline-block {
  display: inline-block !important; }

.d-table {
  display: table !important; }

.d-table-cell {
  display: table-cell !important; }

.d-none {
  display: none !important; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.fixed {
  position: fixed; }

.mt-0 {
  margin-top: 0px !important; }

.pt-0 {
  padding-top: 0px !important; }

.mt-1 {
  margin-top: 8px !important; }

.pt-1 {
  padding-top: 8px !important; }

.mt-2 {
  margin-top: 16px !important; }

.pt-2 {
  padding-top: 16px !important; }

.mt-3 {
  margin-top: 24px !important; }

.pt-3 {
  padding-top: 24px !important; }

.mt-4 {
  margin-top: 32px !important; }

.pt-4 {
  padding-top: 32px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

.mb-1 {
  margin-bottom: 8px !important; }

.pb-1 {
  padding-bottom: 8px !important; }

.mb-2 {
  margin-bottom: 16px !important; }

.pb-2 {
  padding-bottom: 16px !important; }

.mb-3 {
  margin-bottom: 24px !important; }

.pb-3 {
  padding-bottom: 24px !important; }

.mb-4 {
  margin-bottom: 32px !important; }

.pb-4 {
  padding-bottom: 32px !important; }

.ml-0 {
  margin-left: 0px !important; }

.pl-0 {
  padding-left: 0px !important; }

.ml-1 {
  margin-left: 8px !important; }

.pl-1 {
  padding-left: 8px !important; }

.ml-2 {
  margin-left: 16px !important; }

.pl-2 {
  padding-left: 16px !important; }

.ml-3 {
  margin-left: 24px !important; }

.pl-3 {
  padding-left: 24px !important; }

.ml-4 {
  margin-left: 32px !important; }

.pl-4 {
  padding-left: 32px !important; }

.mr-0 {
  margin-right: 0px !important; }

.pr-0 {
  padding-right: 0px !important; }

.mr-1 {
  margin-right: 8px !important; }

.pr-1 {
  padding-right: 8px !important; }

.mr-2 {
  margin-right: 16px !important; }

.pr-2 {
  padding-right: 16px !important; }

.mr-3 {
  margin-right: 24px !important; }

.pr-3 {
  padding-right: 24px !important; }

.mr-4 {
  margin-right: 32px !important; }

.pr-4 {
  padding-right: 32px !important; }

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important; }

.ml-auto {
  margin-left: auto !important; }

.mr-auto {
  margin-right: auto !important; }

/*# sourceMappingURL=custom.css.map */
