<?php $i = 0;?>
                @foreach($article as $a)
                    @if($i%2 == 0)
                        <div class="single-features post-content">
                            <div class="col-sm-6 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                                <a href="{{ URL::to('noticias/'.$a->id) }}"><img src="{{ asset('images/news/'.$a->imagenes->first()['image']) }}" class="img-responsive" alt=""></a>
                            </div>
                            <div class="col-sm-6 wow fadeInRight news-text-index" data-wow-duration="500ms" data-wow-delay="300ms">
                                <h2>{{ $a->title }}</h2>
                                <h3 class="post-author"><p class="text-justify no-pointer">{{ substr(strip_tags($a->descripcion), 0, 300) }} [...]</p></h3>
                                <a href="{{ URL::to('noticias/'.$a->id) }}" class="read-more">Leer mas</a>
                            </div>
                        </div>
                    @else
                        <div class="single-features post-content">
                            <div class="col-sm-6 wow fadeInLeft hidden-md hidden-lg" data-wow-duration="500ms" data-wow-delay="300ms">
                                <a href="{{ URL::to('noticias/'.$a->id) }}"><img src="{{ asset('images/news/'.$a->imagenes->first()['image']) }}" class="img-responsive" alt=""></a>
                            </div>
                            <div class="col-sm-6 wow fadeInLeft news-text-index" data-wow-duration="500ms" data-wow-delay="300ms">
                                <h2>{{ $a->title }}</h2>
                                <h3 class="post-author"><p class="text-justify no-pointer">{{ substr(strip_tags($a->descripcion), 0, 300) }} [...]</p></h3>
                                <a href="{{ URL::to('noticias/'.$a->id) }}" class="read-more">Leer mas</a>
                            </div>
                            <div class="col-sm-6 image-right wow fadeInRight visible-md-block visible-lg-block" data-wow-duration="500ms" data-wow-delay="300ms">
                                <a href="{{ URL::to('noticias/'.$a->id) }}"><img src="{{ asset('images/news/'.$a->imagenes->first()['image']) }}" class="img-responsive" alt=""></a>
                            </div>
                        </div>
                    @endif
                    <hr>
                    <?php $i++; ?>
                @endforeach
                <div class="text-center" style="margin-bottom:50px;"><a href="{{ URL::to('noticias') }}" class="btn btn-lg btn-info">Ver todas</a></div>